/* Styling for UpcomingEvents */

.upcoming-wrapper {
  display: flex;
}

.split {
  height: 100%;
  width: 50%;
  top: 0;
  overflow-x: hidden;
  text-align: center;
}

/* Styling for UpcomingHalfEvents */

.title {
  font-size: 2.3em;
  color: white;
  text-align: left;
  margin: 0;
}

/* Styling for UpcomingSingleEvent */

.single-event-wrapper {
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  margin: 2vw 0;
  padding: 7px;
  border-radius: 14px;
}

.single-event-wrapper div {
  white-space: pre;
}

.event-title {
  text-transform: uppercase;
  font-size: 2.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.event-information {
  color: #707070;
  font-size: 1.6em;
}

.event-title,
.event-information {
  margin: 20px;
}

.border-green {
  border-top: 5px solid #a1c34a;
}
.border-yellow {
  border-top: 5px solid rgb(252, 215, 72);
}
.border-black {
  border-top: 5px solid#111;
}
.border-blue {
  border-top: 5px solid#52b0ec;
}
.border-red {
  border-top: 5px solid #b11c11;
}
.border-purple {
  border-top: 5px solid rgb(138, 43, 226);
}
