.upcoming-wrapper {
  text-align: center;
  white-space: nowrap;
  background-color:#FFFFFF;
  margin: 20px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  font-family: Raleway,Helvetica Neue,Arial,sans-serif;
}

.upcoming-wrapper div {
  font-size: 1.3em;
  white-space: pre;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 70px;
  text-align: center;
  font-family: Raleway,Helvetica Neue,Arial,sans-serif;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.title {
  font-size: 270%;
}

.title-line.green {
  background-color: #A1C34A;
}
.title-line.yellow {
  background-color: rgb(252, 215, 72);
}
.title-line.black {
  background-color: #111;
}
.title-line.blue {
  background-color: #52B0EC;
}
.title-line.red {
  background-color: #B11C11;
}
.title-line.purple {
  background-color: rgb(138, 43, 226)
}