.upcoming-wrapper {
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  margin: 20px;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
}

.upcoming-wrapper div {
  font-size: 1.3em;
  white-space: pre;
}

.signup-wrapper {
  display: flex;
}

.split {
  height: 100%;
  width: 50%;
  top: 0;
  overflow-x: hidden;
  padding-top: 70px;
  text-align: center;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.title {
  font-size: 270%;
  color: white;
}

.title-line.green {
  background-color: #a1c34a;
}
.title-line.yellow {
  background-color: rgb(252, 215, 72);
}
.title-line.black {
  background-color: #111;
}
.title-line.blue {
  background-color: #52b0ec;
}
.title-line.red {
  background-color: #b11c11;
}
.title-line.purple {
  background-color: rgb(138, 43, 226);
}
