#all-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: auto;
  
}

.signup-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: gray;
}

.right {
  right: 0;
  background-color: darkgray;
}

.first {
  position: absolute;
  top: 200px;
}

.second {
  position: absolute;
  top: 400px;
}

.third {
  position: absolute;
  bottom: 200px;
}


.title-line.green {
  background-color: #A1C34A;
}
.title-line.yellow {
  background-color: rgb(252, 215, 72);
}
.title-line.black {
  background-color: #111;
}
.title-line.blue {
  background-color: #52B0EC;
}
.title-line.red {
  background-color: #B11C11;
}