#trapezoid-shape {
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}


#time {
  font-size: 30px;
}

#date {
  font-size: 20px;
}