.animated-page-wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background: url("../public/background.svg") no-repeat center bottom fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #263238cf;
  z-index: -1;
}
