.bus-til-byen{ 
  grid-area: til-byn-header;
  text-align: center;
}

.bus-fra-byen { 
  grid-area: fra-byn-header;
  text-align: center;
}

.bus-til-byen-glos { 
  grid-area: til-byn-glos;
  margin-left: 15px;
}
.bus-til-byen-prof{ 
  grid-area: til-byn-prof;
  margin-left: 15px;
 }
.bus-fra-byen-glos { 
  grid-area: fra-byn-glos;
  margin-left: 15px;
 }
.bus-fra-byen-prof{ 
  grid-area: fra-byn-prof;
  margin-left: 15px;
 }
.fra-byen-glos{ grid-area: tid-fra-byn-glos}
.fra-byen-prof{ grid-area: tid-fra-byn-prof}
.til-byen-glos{ grid-area: tid-til-byn-glos}
.til-byen-prof{ grid-area: tid-til-byn-prof}

.full-grid {
  display: grid;
  background-color: white;
  padding: 5px;
  grid-gap: 10px 200px;
  grid-template-areas: 
  'til-byn-header fra-byn-header'
  'til-byn-glos fra-byn-glos'
  'tid-til-byn-glos tid-fra-byn-glos'
  'til-byn-prof  fra-byn-prof'
  'tid-til-byn-prof tid-fra-byn-prof';
}
  .list-item{
  margin-top: 2px;
  background-color: grey;
  width: 97%;
  opacity: 0.6;
  display: flex;
  padding: 5px;
  justify-content: flex-end;
}

.list-item > span{
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  text-align: left;
  color: black;
}
.line{
  margin-left:5px;
  font-style: bold;
  width: 10%;
  text-align: centre;

}
.destination{
  margin-left: 15px;
  width: 50%;
  text-align: centre;

}
.time-to-departure{
  text-align: right;
  width: 40%;
  text-align: centre;

}
