.bus-til-byen{ 
  grid-area: til-byen-header;
  text-align: center;
}

.bus-fra-byen { 
  grid-area: fra-byen-header;
  text-align: center;
}

.bus-til-byen-fra-glos { 
  grid-area: til-byen-glos;
  margin-left: 15px;
}

.bus-til-byen-fra-prof{ 
  grid-area: til-byen-prof;
  margin-left: 15px;
 }

.bus-til-glos-fra-byen { 
  grid-area: fra-byen-glos;
  margin-left: 15px;
 }

.bus-til-prof-fra-byen{ 
  grid-area: fra-byen-prof;
  margin-left: 15px;
 }
 
.fra-byen-glos{ grid-area: tid-fra-byen-til-glos}
.fra-byen-prof{ grid-area: tid-fra-byen-til-prof}
.til-byen-glos{ grid-area: tid-til-byen-fra-glos}
.til-byen-prof{ grid-area: tid-til-byen-fra-prof}

.full-grid {
  display: grid;
  background-color: white;
  padding: 5px;
  grid-gap: 10px 200px;
  grid-template-areas: 
  'til-byen-header fra-byen-header'
  'til-byen-glos fra-byen-glos'
  'tid-til-byen-fra-glos tid-fra-byen-til-glos'
  'til-byen-prof  fra-byen-prof'
  'tid-til-byen-fra-prof tid-fra-byen-til-prof';
}

  .list-item{
  margin-top: 2px;
  background-color: grey;
  width: 97%;
  opacity: 0.6;
  display: flex;
  padding: 5px;
  justify-content: flex-end;
}

.list-item > span{
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  text-align: left;
  color: black;
}

.line{
  margin-left:5px;
  font-style: bold;
  width: 10%;
  text-align: centre;
}

.destination{
  margin-left: 15px;
  width: 50%;
  text-align: centre;

}

.time-to-departure{
  text-align: right;
  width: 40%;
  text-align: centre;

}
